﻿@import "variables.scss";



.btn-custom {
    border-radius: 50%;
    border: 1px solid;
    width: 40px;
    height: 40px;
    outline: 0;
    background:$dark-blue;
}

.btn-custom:hover {
    opacity: 0.85;
}

.btn-custom:disabled {
    opacity: 0.55;
    cursor: no-drop;
}