﻿@import "variables.scss";




html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}



body {
    background-color: $background;
}

.error {
    color: $red;
    margin-bottom: 12px;
    margin-top: 6px;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.captcha-container {
    div{
        width:100% !important;
    }
}

.server-error-container {
    background: $red;
    padding: 10px;
    width: 100%;
    margin: 12px 0;

    span {
        color: white;
    }
}
/*----404 Error----*/
.notfound-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: linear-gradient(#00C2F9, #00CFCB);
    color: white;

    h1 {
        font-size: 190px;
        margin-bottom: 0;
        margin-top: 13vh;
        text-shadow: 6px 6px 2px rgba(0, 0, 0, 0.195);
    }

    h3 {
        font-size: 32px;
        margin-top: 0;
    }

    button {
        margin-top: 7vh;
        padding: 11px 38px;
        font-size: 16px;
    }
}

/*---------------*/

.dropdown-container {
    display: inline-block;

    button {
        padding: 8px 10px;
        border-radius: 4px;
        border: 1px solid $input-border;
        color: black;
        width: 100%;
        outline: 0;
        background: white;
        width: 100%;

        span {
            color: $input-border;
        }
    }

    ul {
        width: 100%;
        -webkit-box-shadow: 0 2px 8px rgba(214, 214, 214, 0.83);
        box-shadow: 0 2px 8px rgba(214, 214, 214, 0.83);
        border: 1px solid $border;

        li {
            cursor: pointer;

            a {
                padding: 6px 12px;
            }
        }
    }
}

.popover-list {
    margin: 0;
    padding: 0;
}

.popover-list li {
    list-style: none;
    text-align: left;
}

.popover-list li a {
    color: black;
    font-size: 13px;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    min-width: 180px;
}

.popover-list li:hover a {
    background: $hover-list;
}
