﻿@import "variables.scss";

css ::-webkit-input-placeholder {
    color: $placeholder;
}

::-moz-placeholder {
    color: $placeholder;
}
/* Firefox 19+ */
:-moz-placeholder {
    color: $placeholder;
}
/* Firefox 18- */
:-ms-input-placeholder {
    color: $placeholder;
}

.custom-radio {
    input {
        position: absolute;
        left: -9999px;
    }

    /*.radio-label {
        margin-right: 60px;
        font-size: 14px;
    }*/

    [type="radio"]:not(:checked) + label:before,
    [type="radio"]:checked + label:before {
        content: '';
        position: absolute;
        left: 1px;
        top: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $border !important;
        border-radius: 50%;
        /*box-shadow: inset 0 1px 3px rgba(0,0,0,.1);*/
    }
    /* checked mark aspect */
    [type="radio"]:not(:checked) + label:after,
    [type="radio"]:checked + label:after {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        top: 4px;
        left: 5px;
        line-height: 0.8;
        transition: all .2s;
    }

    [type="radio"]:checked + label:after {
        background: black;
    }

    [type="radio"]:checked + label:before {
        border-color: black !important;
    }

    [type="radio"]:checked + .radio-label:before {
        border: 1px solid black !important;
    }

    [type="radio"]:not(:checked) + label,
    [type="radio"]:checked + label {
        position: relative;
        padding-left: 32px;
        font-family: 'Montserrat-Light';
        cursor: pointer;
        padding-top: 1px;
        font-weight: normal;
    }
}


.custom-checkbox {
    input {
        position: absolute;
        left: -9999px;
    }

    label {
        color: black;
        font-weight: normal;
        padding-top: 2px;
    }

    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left: 1px;
        top: 0;
        width: 21px;
        height: 21px;
        border: 1px solid $border;
        /*box-shadow: inset 0 1px 3px rgba(0,0,0,.1);*/
        border-radius: 3px;
        color: black;
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        font-size: 22px;
        font-weight: bold;
        line-height: 0.8;
        transition: all .2s;
        color: black;
    }

    [type="checkbox"]:checked + label:before,
    [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left: 1px;
        top: 0;
        width: 21px;
        height: 21px;
        border: 1px solid black;
        /*border-radius: 3px;*/
        color: black;
    }

    [type="checkbox"]:checked + label:after {
        width: 8px;
        height: 15px;
        content: '';
        position: absolute;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-color: black;
        transform: rotate(45deg);
        transform-origin: center center;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        left: 8px;
        top: 1px;
    }

    [type="checkbox"]:checked + .radio-label:before {
        border: 1px solid black !important;
    }

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 38px;
        font-weight: 400;
        cursor: pointer;
    }
}



.input-relative-container {
    position: relative;

    span {
        position: absolute;
        right: 14px;
        top: 10px;
    }

    .icon-eye {
        font-size: 26px;
        color: $border;
    }
}




.custom-select {
    padding: 8px 10px;
    margin-bottom: 12px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #D4D4D4;
    color: black;
}


.custom-input {
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid $input-border;
    color: black;
    width: 100%;
    outline: 0;
}

.custom-input:focus {
    outline: 0;
}

.input-error {
    border: 1px solid $red;

    .rc-anchor-light.rc-anchor-normal {
        border: 1px solid $red !important;
    }
}

.dropdown-input {
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid $input-border;
    color: black;
    width: 100%;
    outline: 0;
    background:white;
    width:100%;
    span {
        color: $input-border;
    }
}

label{
    margin-bottom:8px;
}