﻿@import "variables.scss";

.navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    height: auto;
    padding: 0;

    img {
        width: 50px;
    }
}

.navbar-default {
    background-color: transparent;
}

.general-navbar-container {
    padding: 8px 0;
    border-color: transparent;
    z-index: 100;
    border-bottom: 1px solid $border;
}

.general-navbar-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.general-navbar-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-transparent {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.btn-navbar {
    margin: 4px;
    /*margin-top: 7px;*/
    margin-left: 8px;
    font-size: 13px;
    outline: 0;
    padding: 12px 20px !important;
    color: black;
}

.btn-navbar:hover {
    opacity:0.7;
    background-color:transparent !important;
    color:inherit;
}

.general-navbar {
    li {
        margin-right: 14px;

        a {
            font-size: 13px;
            color: $white !important;
        }
    }
}

.navbar-profile {
    font-size: 47px;
    border-radius: 50%;
    display: inline-block;
    color: #EEEEEE;
    cursor: pointer;
}

.navbar-icon {
    color: white;
    position: absolute;
    font-size: 20px;
}

.profile-dropdown {
    margin-left: 20px;
    top: 65px;
    right: -8px !important;

    li {
        /*.profile-dropdown-first-item{
                padding-top: 14px;
        }*/
        a {
            padding: 12px 20px;
            color: $grey;
        }
    }
}

.profile-dropdown::after {
    content: '';
    position: absolute;
    right: 20px;
    top: -16px;
    border: 9px solid transparent;
    border-bottom: 8px solid white;
}

.notification-button-container {
    right: 35px;
}

.message-button-container {
    right: 60px;
}

.navbar-collapse {
    border: none;
}

/*------------- Alternative navbartop ------------------*/
.alternative-navbartop {
    background: black;

    .btn-navbar {
        color: white;
    }
}


/*-------------------------------------------------------*/













.loading {
}

.cssload-loader-container {
    width: 161px;
    height: 67px;
    float: left;
}

.cssload-loader-container * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cssload-abs-center {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



.cssload-olympicloader {
    position: relative;
}

.cssload-olympicloader .cssload-loader-circle {
    width: 49px;
    height: 49px;
    border: 5px solid rgb(204,204,204);
    border-radius: 50%;
    animation: spin 940ms infinite linear;
    -o-animation: spin 940ms infinite linear;
    -ms-animation: spin 940ms infinite linear;
    -webkit-animation: spin 940ms infinite linear;
    -moz-animation: spin 940ms infinite linear;
    float: left;
}

.cssload-olympicloader .cssload-loader-circle.cssload-first {
    position: absolute;
    top: 0;
    left: 0;
    border-top-color: rgba(2,207,200,0.98);
}

.cssload-olympicloader .cssload-loader-circle.cssload-second {
    position: absolute;
    top: 0;
    left: 56px;
    border-right-color: rgb(66,192,251);
}

.cssload-olympicloader .cssload-loader-circle.cssload-third {
    position: absolute;
    top: 0;
    left: 112px;
    border-bottom-color: rgba(2,207,200,0.98);
}

.cssload-olympicloader .cssload-loader-circle.cssload-fourth {
    position: absolute;
    top: 18px;
    left: 28px;
    border-left-color: rgb(66,192,251);
}

.cssload-olympicloader .cssload-loader-circle.cssload-fifth {
    position: absolute;
    top: 18px;
    left: 84px;
    border-right-color: rgb(2,207,200);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}



/*----------- Small loader ---------------*/

#floatingCirclesG {
    position: relative;
    width: 45px;
    height: 45px;
    margin: auto;
    transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
}

.f_circleG {
    position: absolute;
    background-color: rgb(255,255,255);
    height: 8px;
    width: 8px;
    border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    animation-name: f_fadeG;
    -o-animation-name: f_fadeG;
    -ms-animation-name: f_fadeG;
    -webkit-animation-name: f_fadeG;
    -moz-animation-name: f_fadeG;
    animation-duration: 0.472s;
    -o-animation-duration: 0.472s;
    -ms-animation-duration: 0.472s;
    -webkit-animation-duration: 0.472s;
    -moz-animation-duration: 0.472s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#frotateG_01 {
    left: 0;
    top: 18px;
    animation-delay: 0.1795s;
    -o-animation-delay: 0.1795s;
    -ms-animation-delay: 0.1795s;
    -webkit-animation-delay: 0.1795s;
    -moz-animation-delay: 0.1795s;
}

#frotateG_02 {
    left: 5px;
    top: 5px;
    animation-delay: 0.236s;
    -o-animation-delay: 0.236s;
    -ms-animation-delay: 0.236s;
    -webkit-animation-delay: 0.236s;
    -moz-animation-delay: 0.236s;
}

#frotateG_03 {
    left: 18px;
    top: 0;
    animation-delay: 0.2925s;
    -o-animation-delay: 0.2925s;
    -ms-animation-delay: 0.2925s;
    -webkit-animation-delay: 0.2925s;
    -moz-animation-delay: 0.2925s;
}

#frotateG_04 {
    right: 5px;
    top: 5px;
    animation-delay: 0.349s;
    -o-animation-delay: 0.349s;
    -ms-animation-delay: 0.349s;
    -webkit-animation-delay: 0.349s;
    -moz-animation-delay: 0.349s;
}

#frotateG_05 {
    right: 0;
    top: 18px;
    animation-delay: 0.4055s;
    -o-animation-delay: 0.4055s;
    -ms-animation-delay: 0.4055s;
    -webkit-animation-delay: 0.4055s;
    -moz-animation-delay: 0.4055s;
}

#frotateG_06 {
    right: 5px;
    bottom: 5px;
    animation-delay: 0.472s;
    -o-animation-delay: 0.472s;
    -ms-animation-delay: 0.472s;
    -webkit-animation-delay: 0.472s;
    -moz-animation-delay: 0.472s;
}

#frotateG_07 {
    left: 18px;
    bottom: 0;
    animation-delay: 0.5285s;
    -o-animation-delay: 0.5285s;
    -ms-animation-delay: 0.5285s;
    -webkit-animation-delay: 0.5285s;
    -moz-animation-delay: 0.5285s;
}

#frotateG_08 {
    left: 5px;
    bottom: 5px;
    animation-delay: 0.585s;
    -o-animation-delay: 0.585s;
    -ms-animation-delay: 0.585s;
    -webkit-animation-delay: 0.585s;
    -moz-animation-delay: 0.585s;
}



@keyframes f_fadeG {
    0% {
        background-color: rgb(0,0,0);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}

@-o-keyframes f_fadeG {
    0% {
        background-color: rgb(0,0,0);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}

@-ms-keyframes f_fadeG {
    0% {
        background-color: rgb(0,0,0);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}

@-webkit-keyframes f_fadeG {
    0% {
        background-color: rgb(0,0,0);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}

@-moz-keyframes f_fadeG {
    0% {
        background-color: rgb(0,0,0);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}
