﻿@import "variables.scss";

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('/fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
}



.header-general-container {
    background: $dark-blue;
    color: white;
}

.header-title {
    margin-top: 0;
    font-size: 30px;
    font-family: 'OpenSans-Bold';
}

.header-content {
    padding: 26px 0;
}

.header-text {
    font-size: 17px;
    font-family: 'OpenSans-SemiBold';
}

.sayer-general-items-list {
    max-height: calc(100vh - 240px);
    overflow: auto;
}

.item-comment-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        color: white;
    }
}

.sayer-general-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
    border-bottom: 1px solid $border;
    position: relative;
}

.sayer-item-name {
    display: inline-block;
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    cursor: pointer;
    font-family: 'OpenSans-SemiBold';
}

.sayer-item-name:hover {
    opacity: 0.7;
}

.sayer-messages-count {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    background: $dark-blue;
}

.sayer-add-btn {
    display: flex;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: $red;
    margin: 33px auto 6px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
        font-size: 23px;
        color: #F5A8F0;
    }
}

.item-comment-container {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background: #E6E6E6;

    form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    input {
        height: 42px;
        width: calc(100% - 65px);
        font-size: 16px;
    }
}



.item-comments-container {
    height: calc(100vh - 158px);
    overflow: auto;

    form {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            margin-right: 18px;
            width: calc(100% - 55px);
            border: none;
            background: transparent;
            border-bottom: 2px solid $border;
        }

        button {
            span {
                color: white;
                font-size: 13px;
            }
        }
    }

    .sayer-general-item {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .add-item-btn {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.open-item-photo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: green;

    img {
        width: 100%;
    }
}

.item-open-text {
    width: calc(100% - 91px);
    margin-left: 21px;
    font-size: 18px;
    word-wrap: break-word;
}

.sayer-delete-btn {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    background: #D4145A;
    color: white;
    border: none;
    outline: 0;
    width: 130px;
    font-size: 18px;
}

.sayer-general-item:hover {
    .sayer-delete-btn {
        display: flex;
    }
}

.header-second-tittle {
    font-size: 22px;
}

.flex-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.back-page-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: $blue;
    margin-right: 30px;
    cursor: pointer;

    span {
        color: white;
        font-size: 17px;
    }
}

.add-item-container {
    padding: 0;
    margin-top: 35px;
}

.sayer-sm-delete-btn {
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #D4145A;
    color: white;
    border: none;
    outline: 0;
    font-size: 18px;
    border-radius: 50%;
    span{
        font-size:12px;
    }
}

.empty-content-text {
    font-size: 16px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-top: 15vh;
    color: $grey;
}

.empty-icon {
    font-size:60px;
    margin-bottom:25px;
}

@media (max-width: 768px) {
    .sayer-general-item {
        padding: 26px 22px;
    }

    .header-content {
        padding: 26px 22px;
    }

    .add-item-container {
        padding: 0 22px;
    }
}
