﻿$color-red-error: rgb(185, 74, 72) !default;
$color-grey-arrow: rgba(204, 204, 204, 0.2) !default;
$width-default: 220px !default;
$zindex-select-dropdown: 1060 !default;
$input-color-placeholder: #999 !default;

$background: #FBFBFB;

$border-grey: #E9E9E9;

$input-border: #D4D4D4;

$input-text: #A4A4A4;

$grey: #A4A4A4;
$green: #02CFC8;
$dark-grey: #676767;
$white: #FAFDFF;

$background-footer: #333333;
$black-footer: #222222;

/*------------------------------*/

$hover-list: lightgrey;


$placeholder: grey;


/*-----------SAYER-------------*/
$dark-blue: #0E1D3C;
$red: #D4145A;
$dark-text: #2B2F3E;
$border: #CCCCCC;
$blue: #313464;
/*------------------------------*/
