﻿<div class="container-fluid">
    <div class="row">
        <div class="header-general-container">
            <div class="container">
                <div class="row">
                    <div class="header-content flex-header">
                        <div class="back-page-btn" ui-sref="itemsList">
                            <span class="icon-left-arrow"></span>
                        </div>
                        <span class="header-second-tittle">
                            Create new item
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="sayer-general-items-container">
            <section class="sayer-general-items-list item-comments-container">
                <div class="add-item-container">
                    <form name="addItemForm" ng-submit="$ctrl.addItem(addItemForm)">
                        <input required autofocus ng-model="$ctrl.newItemName" class="item-comment-input custom-input" type="text" placeholder="Enter item name" />
                        <button type="submit" class="add-item-btn btn-custom">
                            <span class="icon-next"></span>
                        </button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
