﻿To: @ViewBag.To

<div style="background-color:#F0F0F0;font-family:Arial,Helvetica,sans-serif;margin:0;padding: 40px 0;width:100%">
    <img src="@(SSTemplate.Domain.Entities.Dictionaries.UploadImageProperties.BlobAdress)/images-site/blueLogo.png" style="margin-bottom: 20px; display:table;margin:0 auto;text-align: center;margin-bottom:20px; width:120px;" />
    <table style="width: 100%; max-width: 655px; margin:auto; background-color: #fff; padding: 35px 60px 45px">
        <tbody>
            <tr>
                <td style="padding-top: 15px;font-size: 13px;">
                    Please click the button below to update your password
                </td>
            </tr>

            <tr>
                <td style="padding-top: 20px; padding-bottom:20px; font-size: 13px;">
                    <p style="margin:0;">
                        <a href="@ViewBag.CallbackUrl" style="background-color:#42C0FB; color:#FAFDFF; border-radius: 15px; padding: 8px 25px; border:none; outline:0; cursor:pointer;">
                            Chage password
                        </a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 12px;font-size: 13px;">
                    <p style="margin:0;">
                        If you did not request a password update, pleace ignore this message.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

    <span style="color:#A4A4A4;font-size:13px;display:table;margin:30px auto;">
        SSTemplate, @DateTime.Now.Year
    </span>
</div>
