@font-face {
    font-family: 'icomoon';
    src: url('/Content/icon-fonts/icomoon.eot?p48rvr');
    src: url('/Content/icon-fonts/icomoon.eot?p48rvr#iefix') format('embedded-opentype'), url('/Content/icon-fonts/icomoon.ttf?p48rvr') format('truetype'), url('/Content/icon-fonts/icomoon.woff?p48rvr') format('woff'), url('/Content/icon-fonts/icomoon.svg?p48rvr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-button:before {
  content: "\e903";
}
.icon-blank-rounded-speech-balloon:before {
  content: "\e904";
}
.icon-next:before {
  content: "\e900";
}
.icon-left-arrow:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
