﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="$state.current.data.pageTitle + ' - SS Template' || 'SS Template'"></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <ui-view ng-show="!isLoading">
        @RenderBody()
    </ui-view>

    <loading-page></loading-page>
  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/signalR")

    <script src="~/signalr/hubs"></script>
</body>
</html>