﻿<div class="container-fluid">
    <div class="row">
        <div class="header-general-container">
            <div class="container">
                <div class="row">
                    <div class="header-content flex-header">
                        <div class="back-page-btn" ui-sref="itemsList">
                            <span class="icon-left-arrow"></span>
                        </div>
                        <span class="header-second-tittle">
                            {{$ctrl.comments.itemTitle}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="sayer-general-items-container">
            <section class="item-comments-container">
                <div class="empty-content-text" ng-if="$ctrl.comments.itemComments.length < 1">
                    <span class="icon-blank-rounded-speech-balloon empty-icon"></span>
                    <span>
                        There are no comments...
                    </span>
                </div>
                <div class="sayer-general-item" ng-repeat="item in $ctrl.comments.itemComments">
                    <!--<div class="open-item-photo">
                        <img ng-src={{item.userPhoto}} />
                    </div>-->
                    <div class="open-item-photo"></div>
                    <div class="item-open-text">
                       {{item.commentText}}
                    </div>
                </div>
            </section>

            <div class="item-comment-container">
                <form name="addComment" ng-submit="$ctrl.setComment(addComment, $ctrl.comments.id)">
                    <input required name="comment" autofocus ng-model="$ctrl.addCommentText" class="item-comment-input custom-input" type="text" placeholder="New comment goes here..." />
                    
                    <button type="submit" class="item-comment-btn btn-custom">
                        <span class="icon-next"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
