﻿<div class="container-fluid">
    <div class="row">
        <div class="header-general-container">
            <div class="container">
                <div class="row">
                    <div class="header-content">
                        <h1 class="header-title">
                            Sayer
                        </h1>
                        <span class="header-text">
                            World's most used time waster
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="sayer-general-items-container">
            <section class="sayer-general-items-list">
                <div class="empty-content-text" ng-if="$ctrl.itemsList.length < 1">
                    <span>
                        There are no chat rooms. Create a new one
                    </span>
                </div>
                <div class="sayer-general-item" ng-repeat="item in $ctrl.itemsList">
                    <span class="sayer-item-name" ui-sref="itemOpen({id:item.id})">
                        {{item.itemTitle}}
                    </span>
                    <div class="sayer-messages-count">
                        <span>
                            {{item.itemComments.length}}
                        </span>
                    </div>
                    <button class="sayer-sm-delete-btn visible-sm visible-xs" ng-click="$ctrl.deleteItem(item.id)">
                        <span class="icon-close-button"></span>
                    </button>
                    <button class="sayer-delete-btn hidden-sm hidden-xs" ng-click="$ctrl.deleteItem(item.id)">
                        Delete 
                    </button>
                </div>
              
            </section>
            <div class="sayer-add-btn" ui-sref="addItem">
                <span class="icon-plus"></span>
            </div>
        </div>
    </div>
</div>
